# Clash of Clans API info
COC_API_TOKEN="insert-api-token-here"
COC_API_EMAIL="email@example.com"
COC_API_PASSWORD="password"
COC_API_KEY_NAME="insert key name here"

# Clan info
COC_CLAN_TAG="#clan-tag"
COC_CLAN_TIMEZONE="UTC"

COC_PLAYER_TAG_TO_DISCORD_MENTION='{"#player-tag-1": "<@discord-id-1>", "#player-tag-2": "<@discord-id-2>", "#player-tag-3": "<@discord-id-3>"}'

# Discord webhook URLs
DISCORD_CLAN_CHAT_WEBHOOK="https://discord.com/api/webhooks/example/webhook"

# Discord mention strings
DISCORD_CO_LEADER_MENTION="<@&insert-id-here>"
DISCORD_LEADER_MENTION="<@&insert-id-here>"

# Google Sheets CWL sheet ID
GOOGLE_SHEETS_SPREADSHEET_ID="insert-id-here"

# Reddit API info
REDDIT_CLIENT_ID="insert-client-id-here"
REDDIT_CLIENT_SECRET="insert-client-secret-here"
REDDIT_USER_AGENT="<platform>:<app name>:<app version> (by r/<reddit username>)"
REDDIT_USERNAME="username"
REDDIT_PASSWORD="password"
