APScheduler==3.11.2
aiohttp==3.13.5
aiosqlite==0.17.0
asyncpraw==7.8.1
coc.py==4.0.0
gspread==6.2.1
gspread-formatting==1.2.1
loguru==0.7.3
pandas==3.0.2
python-dotenv==1.2.2
pytz==2026.1.post1
requests==2.33.1